<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paltas la Nona</title>
</head>
<body>
    
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/pricing/create/">Crear Cotización</a>
            </li>

            {% if user.is_authenticated %}
                <li>
                    <a href="/pricing/list/">Listado de Cotizaciones</a>
                </li>
                <li>
                    <a href="/logout/">Cerrar Sesión</a>
                </li>
            {% else %}

                <li>
                    <a href="/signup/">Registrarse</a>
                </li>
                <li>
                    <a href="/signin/">Ingresar</a>
                </li>

            {% endif %}

        </ul>
    </nav>


    {% block content %}
    {% endblock %}

</body>
</html>